.Comment {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.25);
}

.Comment h4 {
  margin: 0 0 0.5rem 0;
}

.Comment-description {
  margin-top: 0;
}

.Comment-actions button {
  background: none;
  color: rgb(61, 157, 195);
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.Comment-actions button:hover {
  color: rgb(32, 123, 160);
}

.Comment-actions > * {
  margin-right: 1rem;
}
