.CreateComment {
  padding: 1rem 1rem 1rem 1rem;
  background-color: rgb(243, 243, 243);
}
.CreateComment-form {
  display: flex;
  flex-direction: column;
}

.CreateComment-form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.CreateComment-form textarea {
  margin-bottom: 1rem;
  padding: 0.3rem;
  resize: vertical;
}

.CreateComment-form button {
  padding: 0.3rem 0.7rem;
  background-color: rgba(15, 109, 197, 0.89);
  color: white;
  border: none;
  outline: none;
}

.CreateComment-create {
  align-self: flex-end;
}
